<!DOCTYPE html>
<%-include('navBar.ejs')%>

<style>
  body {
    background-color: aliceblue;
    margin-top: 20px;
  }
</style>

<html>
  <title><%=title%></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <body>
    <%if(hasOwnProperty('metaData')){%>
    <%if(metaData.length!=0){ var i=1; metaData.forEach((data)=>{ %>
    <h5>Welcome Mr,</h5>
    <h6><%=data.aname%></h6>
    <%i++})%> <%}%>
    <%}%>

<!-- FORM START -->
    <div class="container-fluid" style="margin-top: 5%;">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-8">
          <form action="/insert" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-form-label col-lg-2">Book Name &nbsp;&nbsp;</label>
              <input class="form-control col-lg-6" type="text" placeholder="Book Name" name="bookName">
            </div>  
            </br>
        
            <div class="form-group row">
              <label class="col-form-label col-lg-2">Book Author &nbsp;&nbsp;</label>
              <input class="form-control col-lg-6" type="text" placeholder="Book Author" name="bookAuthor">
            </div>  
              </br>
        
              <div class="form-group row">
                <label class="col-form-label col-lg-2">Book Image &nbsp;&nbsp;</label>
                <input  type="file" name="imageName">
              </div>  
              </br>

              <div class="form-group row">
                <label class="col-form-label col-lg-2">Book Price &nbsp;&nbsp;</label>
                <input class="form-control col-lg-6" type="number" placeholder="Book Price" name="bookPrice">
              </div>  
              </br>
        
              
              <input type="submit" class="btn btn-primary">
              
            </form>
            <div class="row">
            <div class="col-lg-8"></div>
            <div style="margin-top: 15%;right: 0%;" class="col-lg-4">
              <a class="btn btn-warning" href="http://localhost:3000/logout">Log Out</a>
            </div>
            </div>
            
        </div>
      </div>
    </div>
    
    <!-- FORM END -->

    <%if(hasOwnProperty('results')){%>

    <!-- TABLE START -->
    <div class="container">
      <table border="1" class="table table-striped">
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Book Image</th>
            <th>Book Price</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <%if(results.length!=0){ var i=1; results.forEach((data)=>{ %>
          <tr>
            <td><%=data.bookId%></td>
            <td><%=data.bookName%></td>
            <td><%=data.bookAuthor%></td>
            <td>
              <img
                src="<%=data.bookImage%>"
                alt="img"
                height="50px"
                width="50px"
              />
            </td>
            <td><%=data.bookPrice%></td>
            <td>
              <a href="http://localhost:3000/delete/<%=data.bookId%>">Delete</a>
            </td>
            <td>
              <a href="http://localhost:3000/edit/<%=data.bookId%>">Edit</a>
            </td>
          </tr>
          <%i++})%> <%}else {%>
          <tr>
            <td>Data not found</td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <%}%>
  </body>
</html>
